


/* COMMUN */

body{
    margin:0;
    padding:0;
}
h2{
    margin-top:50px;
    font-size:1.8rem;

    color:#2d52a3;
}
h3{
    text-align: center;
    margin-top:40px;
    margin-bottom:20px;

    font-size:1.5rem;
}
h4{
    font-size:1.1rem;
}
h4 + ul{
    font-size: 0.9rem;
    margin-bottom:30px;
}

ul li{
    list-style: none;
}
span{
    color:#2d52a3;
}
.nomprenom{
    text-align: center;
}

.nomprenom p{
    font-size:3rem;
    margin-top:30px;
    margin-bottom:0;

    font-weight: bold;
}


.underlineh2{

    height:2px;
    width: 100%;

    background-color:#122f6d;
    border-radius: 3px;

    margin-bottom:30px;
}










.ligne{
    background-color:#9b9b9b;
    width: 2px;

    left:33px;
    position: absolute;
    
    
}


.ligne-1{
    height:20px;
    margin-top:5px;
}

.ligne-3{
    height:50px;
    margin-top:22px;
}
.ligne-4{
    height:50px;
    margin-top:22px;
}





/* ASIDE */

.photo{
    background-color:rgb(65, 152, 192);
    height:400px; 
}



.competence p{
    font-weight: bold;
}
.competence img{
    height:25px;
}
.hauteur{
    height:30px;
}


.support-score{

    background-color:rgb(197, 197, 197);
    border-radius: 5px;
    height:10px;
    width:90%;

    position:relative;

    margin-top:7px;
}
.score{
    background-color: rgb(0, 110, 255);
    height:10px;
    border-radius: 5px;

    position: absolute;
}
.score-2{
    width:20%;
}
.score-3{
    width:40%;
}
.score-4{
    width:60%;
}
.score-5{
    width:80%;
}




.dates li{
    display: inline;
}

.date{
    font-size:0.8rem;
    margin:0;
    padding:0!important;
}











/* FORMATION */


@media screen and (max-width:900px){
    .col-sm-4, .col-sm-5{
        padding-right:1px;
        padding-left:1px;
    }


    main .row{
        margin:0;
        padding:0;
    }
}




@media screen and (max-width:650px){
    .competence p{
        font-size: 0.8rem;
        margin-left:1vw;
        margin-top:4px;

    }
}



@media screen and (max-width:575px){
   
    .competence{
        .col-sm-5 {
            width:49vw;
        }
        .col-sm-2{
            width:19vw;
            padding-right:0;
            margin-left:10px;
        }

        .col-sm-4{
            width:30vw;
        }
        .col-sm-6{
            width:50vw;
        }
        .col-sm-5{
            width:38vw;
        }
    }

    .competence p{
        font-size:1rem;
        margin-bottom:3px;
    }


    h2{
        text-align: center;
    }
    .underlineh2{
        width:50vw;
        margin-left:auto;
        margin-right:auto;
    }


    h4{
        margin-left:60px;
        margin-top:0;
        margin-bottom:15px;
        padding:0;
    }
    h4 + ul{
        margin-left:40px;
    }

    .dates{
        margin-bottom:10px;
    }

    aside .nomprenom p{
        font-size:2.3rem;
    }

    h1{
        font-size:2rem;
    }

}




@media screen and (max-width:370px){

    aside .nomprenom p{
        font-size:1.8rem;
    }

    h1{
        font-size:1.5rem;
    }


}